*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 13rem;
    background: url(fondo.jfif)
}

main{
    /* background: url(../images/cielo.jpg); */
    background: #ffffff;
    width: 1010px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}
h2{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}